@font-face {
font-family: 'BMDOHYEON'; 
src: local(BMDOHYEON),
     local(BMDOHYEON_ttf),
     url(BMDOHYEON_ttf.eot) format('eot'),
     url(BMDOHYEON_ttf.woff) format('woff'),
     url(BMDOHYEON_ttf.ttf) format('truetype');
}
body{
font-family: "BMDOHYEON";
background-image:url("main.png");
background-size:100%;
}
.introduction{
position:absolute;
bottom:100px;
left:46%;
text-align:center;
color:black;
font-size:15px;
}
.bound{
font-size:130px;
color:black;
float:left;
position:absolute;
top:155px;
left:375px;
font-style:italic;
}

.less{
font-size:135px;
color:rgb(162,0,0);
float:left;
position:absolute;
top:145px;
left:828px;
font-style:italic;
}
.menu{
text-align:center;
color:white;
font-size:30px;
position:absolute;
top:480px;
left:150px;
}
a{
margin-left:80px;
color:white;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
font-style:italic;
}
a:active{
text-decoration:none;
font-style:italic;
}
