@font-face {
font-family: 'BMDOHYEON'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
font-weight: normal;
font-style: normal;
}
body{
font-family: "BMDOHYEON";
background-image:url("main.png");
background-size:100%;
}
.history{
position:absolute;
bottom:100px;
left:46%;
text-align:center;
color:gray;
font-size:15px;
}
.bound{
font-size:130px;
color:black;
float:left;
position:absolute;
top:155px;
left:375px;
font-style:italic;
}

.less{
font-size:135px;
color:rgb(162,0,0);
float:left;
position:absolute;
top:145px;
left:828px;
font-style:italic;
}
.menu{
text-align:center;
color:white;
font-size:30px;
position:absolute;
top:480px;
left:150px;
}
a{
margin-left:80px;
color:white;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
font-style:italic;
}
a:active{
text-decoration:none;
font-style:italic;
}
