body{
background-image:url("bg-menu-profile.png");
}
.logo{
position:absolute;
top:23%;
left:9%;
height:200px;
}
#menu{
position:absolute;
top:37%;
left:68%;
}
#menu li:hover a {
color:rgb(77,11,128);
}
#menu li:hover ul li a:hover {
color:rgb(77,11,128);
}